<footer class="footer-index">
    <div class="container">
        <div class="bloco superior">
            <div class="div-image-position">
                <img id="contain" src="/images/LOGOTIPO SAA.png" alt="">
                <div class="circulos-footer">
                    <div class="circulo-footer pequeno-footer">
                        <p class="numero-de-contato">+55 (82) 98759-3594</p>
                    </div>
                </div>
                <div class="circulos-footer">
                    <div class="circulo-footer pequeno-footer">
                        <p class="email">2025102346@academico.cesmac.edu.br</p>
                    </div>
                </div>
                <div class="circulos-footer">
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        
                    </div>
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        
                    </div>
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        
                    </div>
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        
                    </div>
                </div>
            </div>
            
        </div>
        <div class="bloco superior">
            <div class="noticias-footer">
                <div class="noticias-posicionamento-footer">
                    <a href="#" class="noticias-a-footer">
                        <div class="noticia-titulo-posicionamento-footer">
                            <h1 class="noticia-titulos-footer">Notícia 1</h1>
                        </div>
                    </a>
                    <a href="#" class="noticias-a-footer">
                        <div class="noticia-titulo-posicionamento-footer">
                            <h1 class="noticia-titulos-footer">Notícia 1</h1>
                        </div>
                    </a>
                    <a href="#" class="noticias-a-footer">
                        <div class="noticia-titulo-posicionamento-footer">
                            <h1 class="noticia-titulos-footer">Notícia 1</h1>
                        </div>
                    </a>   
                </div>     
            </div>

        </div>
        <div class="bloco inferior">
            <div class="div-direitos-reservados">
                <p class="p-footer">Copyright &copy; 2026 - Todos os direitos reservados</p>
                <p class="p-footer">
                    Desenvolvido por:
                    <a class="a-footer" href="https://www.instagram.com/joao.coelho21/?next=%2F" title="Instagram do Desenvolvedor" target="_blank">
                        @joao.coelho21
                    </a>
                    <img id="image" src="https://static.vecteezy.com/system/resources/previews/018/930/415/non_2x/instagram-logo-instagram-icon-transparent-free-png.png" alt="ícone do instagram">
                </p>
            </div>

        </div>
    </div>


    
</footer>