<footer class="footer-index">
    <div class="container">
        <div class="bloco superior">
            <div class="div-image-position">
                <img id="contain" src="/images/LOGOTIPO SAA.png" alt="">
                <div class="circulos-footer">
                    <div class="circulo-footer pequeno-footer">
                        <img src="/images/whatsapp-icon.svg" alt="Whatsapp Imagem" title="Whatsapp" width="30" height="30">
                    </div>
                    <p class="numero-de-contato">+55 (82) 9 8765-4321</p>
                </div>
                <div class="circulos-footer">
                    <div class="circulo-footer pequeno-footer">
                        <img src="/images/gmail-icon.svg" class="img-contact-icons" alt="Gmail Imagem" title="Gmail" width="30" height="30">
                    </div>
                    <p class="email">sistema-de-apoio-e-acessibilidade@gmail.com</p>
                </div>
                <div class="circulos-footer">
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        <a href="https://www.linkedin.com/in/viniciusacoelho/" title="viniciusacoelho" target="_blank">
                            <img src="/images/linkedin-icon.svg" class="img-contact-icons" alt="LinkedIn Imagem" title="LinkedIn" width="30" height="30">
                        </a>
                    </div>
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        <a href="https://www.instagram.com/viniciusacoelho_/" title="@viniciusacoelho_" target="_blank">
                            <img src="/images/instagram-icon.svg" class="img-contact-icons" alt="Instagram Imagem" title="Instagram" width="30" height="30">
                        </a>
                    </div>
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        <a href="">
                            <img src="/images/x-icon.svg" class="img-contact-icons" alt="X Imagem" title="X" width="30" height="30">
                        </a>
                    </div>
                    <div id="circulo-footer-redes-sociais" class="circulo-footer pequeno-footer">
                        <a href="">
                            <img src="/images/facebook-icon.svg" class="img-contact-icons" alt="Facebook Imagem" title="Facebook" width="30" height="30">
                        </a>
                    </div>
                </div>
            </div>  
        </div>

        <div class="bloco superior">
            <div class="noticias-footer">
                <div class="noticias-posicionamento-footer">
                    <a href="/acessibilidade" class="noticias-a-footer">
                        <div class="noticia-titulo-posicionamento-footer">
                            <div class="noticia-titulos-footer">
                                <h3>Acessibilidade</h3>
                                <img src="https://images.seeklogo.com/logo-png/62/3/acessibilidade-pcd-2025-logo-png_seeklogo-623407.png" alt="Ícone de Acessibilidade" width="50" height="50">
                            </div>
                        </div>
                    </a>
                    <a href="#" class="noticias-a-footer">
                        <div class="noticia-titulo-posicionamento-footer">
                            <h1 class="noticia-titulos-footer">Notícia 1</h1>
                        </div>
                    </a>
                    <a href="#" class="noticias-a-footer">
                        <div class="noticia-titulo-posicionamento-footer">
                            <h1 class="noticia-titulos-footer">Notícia 1</h1>
                        </div>
                    </a>   
                </div>     
            </div>
        </div>

        <div class="bloco inferior">
            <div class="div-direitos-reservados">
                <p class="p-footer">Copyright &copy; 2026 - Todos os direitos reservados</p>
                <!-- <p class="p-footer">
                    Desenvolvido por:
                    <a class="a-footer" href="https://www.instagram.com/joao.coelho21/?next=%2F" title="Instagram do Desenvolvedor" target="_blank">
                        @joao.coelho21
                    </a>
                    <img id="image" src="https://static.vecteezy.com/system/resources/previews/018/930/415/non_2x/instagram-logo-instagram-icon-transparent-free-png.png" alt="ícone do instagram">
                </p> -->
            </div>
        </div>
    </div>    
</footer>