<nav class="nav-index">
    <ul class="nav-links-index">
        <li><a href="/">Início</a></li>
        <li><a href="/sobre">Sobre</a></li>
          <li><a href="/encontre-suporte">Encontre Suporte</a></li>
        <li><a href="/servicos">Serviços</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</nav>