<nav class="nav-index">
    <ul class="nav-links-index">
        <li><a href="/" aria-label="Botão para acessar o início do site">Início</a></li>
        <li><a href="/sobre" aria-label="Botão para acessar o sobre do site">Sobre</a></li>
          <li><a href="/encontre-suporte"  aria-label="Botão para acessar o encontre suporte do site">Encontre Suporte</a></li>
        <li><a href="/servicos"  aria-label="Botão para acessar os serviços do site">Serviços</a></li>
        <li><a href="/contato"  aria-label="Botão para acessar o contato do site">Contato</a></li>
    </ul>
</nav>

<div class="nav-spacer"></div>