<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Apoio e Acessibilidade</title>
    <link rel="shortcut icon" href="/images/SAA_logo_editada.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body-index">

    <header class="header-index">
        <%- include('partials/navbar') %>
    </header>
    
    <!-- BOTÃO -->
    <button id="menuBtn" class="hamburger" onclick="sidebarHamburguer">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <h2>Início</h2>
        <ul>
            <li><a href="#inicio-descricao">Bem-vindo ao S.A.A</a></li>
            <li><a href="#">Conteúdo destacado</a></li>
            <li><a href="#">Tipos de Problemas</a></li>
            <li><a href="#">Auditivo</a></li>
            <li><a href="#">fisico-motora</a></li>
            <li><a href="#">mais-de-60-anos</a></li>
            <li><a href="#">Portais</a></li>
        </ul>
        <h2>Colaboração</h2>
        <ul>
            <li><a href="#">Boas-vindas</a></li>
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Portal comunitário</a></li>
            <li><a href="#">Mudanças recentes</a></li>
        </ul>
    </div>

    <main class="layout">
        <section class="main-index">
            <article>
                <div class="artigo-index">
                    <h1 class="titulo-artigo-index">Sistema de Apoio e Acessibilidade</h1>
                    <br>
                    <hr>
                    <p class="paragrafo-artigo-index">
                        Acessibilidade é um direito. O S.A.A. é o caminho.
                        O Sistema de Apoio e Acessibilidade é uma plataforma 
                        digital colaborativa que centraliza informações sobre 
                        locais acessíveis, aproxima cidadãos do poder público 
                        e fortalece a inclusão social nas cidades.
                    </p>
                    <a href="#inicio-descricao" class="button-paragrafo-artigo-index">
                        Comece a navegar
                    </a>
                </div>
            </article>


            <section id="inicio-descricao" class="inicio-descricao">
                <div class="inicio-descricao-containers">                   
                    <div class="container-img-inicio-descricao">
                        <img id="logotipo-saa-inicio-descricao" src="/images/SAA_logo_editada.png" alt="">
                    </div>
                        <p>Bem-vindo ao Sistema de Apoio e Acessibilidade (S.A.A.), 
                            uma plataforma digital desenvolvida para promover 
                            inclusão e facilitar o acesso à informação sobre 
                            acessibilidade urbana.
                        <br>
                        <br>
                        Nosso objetivo é ajudar pessoas com deficiência, mobilidade 
                        reduzida e idosos a encontrarem locais acessíveis com mais 
                        facilidade, além de oferecer um canal para registro de 
                        problemas relacionados à acessibilidade.
                        <br>
                        <br>
                        Com uma interface simples, intuitiva e acessível, o S.A.A. 
                        conecta usuários, estabelecimentos e órgãos públicos, 
                        contribuindo para a construção de uma sociedade mais 
                        inclusiva e consciente.
                    </p>
                </div>
                <a id="botao-inicio-descricao" href="/sobre" class="button-paragrafo-inicio-descricao" >                    
                    Saiba mais sobre a plataforma
                </a>
            </section>

            
            <section class="section-carrossel">
                <div class="div-h2-carrossel">
                    <h2 class="titulo-div-h2-carrossel">Encontre locais acessíveis com mais facilidade e
                    relate problemas relacionados à acessibilidade que você enfrenta ou observa na sua região.</h2>
                </div>
                <div class="texto-div-carrossel">
                    <h3>Clique no círculo desejado para ler mais sobre</h3>
                </div>
                <div class="carrossel">
                    <button class="seta esquerda">&#10094;</button>
                    
                    <div class="circulos">
                        <a href="/pagina1" class="circulo">
                            <div class="conteudo">
                                <img src="/images/s.a.a-deficiencias/s.a.a-deficiente-auditivo.jpeg" alt="Símbolo de acessibilidade para deficiência auditiva">
                                <img src="/images/s.a.a-deficiencias/s.a.a-deficiente-auditivo.jpeg" alt="Símbolo de acessibilidade para deficiência auditiva">
                                <img src="/images/s.a.a-deficiencias/s.a.a-deficiente-auditivo.jpeg" alt="Símbolo de acessibilidade para deficiência auditiva">                                    
                            </div>
                        </a>

                        <a href="/pagina2" class="circulo ativo">
                            <div class="conteudo">
                                <img src="/images/s.a.a-deficiencias/s.a.a-pessoa-com-60-anos-ou-mais.jpeg" alt="Símbolo de acessibilidade para pessoas com mais de 60 anos">
                                <img src="/images/s.a.a-deficiencias/s.a.a-pessoa-com-60-anos-ou-mais.jpeg" alt="Símbolo de acessibilidade para pessoas com mais de 60 anos">
                                <img src="/images/s.a.a-deficiencias/s.a.a-pessoa-com-60-anos-ou-mais.jpeg" alt="Símbolo de acessibilidade para pessoas com mais de 60 anos">                              
                            </div>
                        </a>

                        <a href="/pagina3" class="circulo">
                            <div class="conteudo">
                                <img src="/images/s.a.a-deficiencias/s.a.a-deficiente-fisico-ou-motoro.jpeg" alt="Símbolo de acessibilidade para pessoas com deficiências física ou motora">
                                <img src="/images/s.a.a-deficiencias/s.a.a-deficiente-fisico-ou-motoro.jpeg" alt="Símbolo de acessibilidade para pessoas com deficiências física ou motora">
                                <img src="/images/s.a.a-deficiencias/s.a.a-deficiente-fisico-ou-motoro.jpeg" alt="Símbolo de acessibilidade para pessoas com deficiências física ou motora">                           
                            </div>
                        </a>
                    </div>
                    
                    <button class="seta direita">&#10095;</button>
                    
                </div>
                <a id="botao-carrossel" href="/encontre-suporte" class="button-paragrafo-inicio-descricao" >                    
                    Encontre o suporte que você deseja
                </a>
            </section>
            
            <section class="section-services-fundo">
                <section>
                    <div class="services-index">
                        <div class="div-h2-services">
                            <h2 class="titulo-div-h2-services">
                                Acesse informações, colabore com a comunidade e promova 
                                ambientes mais acessíveis. 
                                <!--
                                A plataforma oferece recursos para acessar informações, 
                                colaborar com a comunidade e promover ambientes mais 
                                acessíveis. 
                                -->    
                            </h2>
                        </div>
                        <div class="texto-div-services">
                            <h3>Confira abaixo alguns dos serviços disponíveis:</h3>
                        </div>
                    </div>
                </section>
    
                <section class="secao-services-index">
                    <div class="cards-services-index">
                        <a href="/vvv" class="card-services-index">
                            <div class="card-services-body-index">
                                <h2>🔎 Busca de locais acessíveis</h2>
                                <p>Encontre estabelecimentos com recursos de 
                                    acessibilidade próximos a você.</p>
                                <span class="meta-services-index">Clique aqui</span>
                            </div>
                        </a>
                    <br>
                        <a href="/inclusao" class="card-services-index">
                            <div class="card-services-body-index">
                                <h2>📝 Cadastro de estabelecimentos</h2>
                                <p>Adicione informações sobre locais acessíveis, 
                                    contribuindo com a comunidade.</p>
                                <span class="meta-services-index">Clique aqui</span>
                            </div>
                        </a>
                        <br>
                        <a href="/notificacao" class="card-services-index">
                            <div class="card-services-body-index">
                                <h2>⚠️ Registro de denúncias</h2>
                                <p>Reporte problemas relacionados à acessibilidade 
                                    urbana de forma simples e rápida.</p>
                                <span class="meta-services-index">Clique aqui</span>
                            </div>
                        </a>
                    </div>
                    <a id="botao-services" href="/servicos" class="button-paragrafo-services" >                    
                        Veja todos os serviços disponíveis
                    </a>
                </section>
                
                
                
            </section>
            <section class="section-contato">
                <div class="div-h2-contato">
                    <h2 class="titulo-div-h2-contato">
                        Quer<span class="span-contato">entrar em contato?</span>
                    </h2>
                </div>
                <div class="texto-div-contato">
                    <p>Gostaríamos muito de ouvir você. Veja como nos contatar.</p>
                </div>

                <article>
                    <div class="artigo-contato-index">
                        <h1 class="titulo-artigo-contato-index">Perguntas gerais</h1>
                        <br>
                        
                        <div class="contato-container-posicionamento">
                            <div class="img-duvidas-contato">
                                <img src="../images/10749479.jpg" alt="">
                            </div>
                            <p class="paragrafo-artigo-contato-index">
                                Clique no botão abaixo e envie uma mensagem usando o formulário e entraremos 
                                em contato dentro de um dia útil (ou até antes disso).
                            </p>
                        </div>
                        <div class="contato-button-posicionamento">
                            <a href="#inicio-descricao" class="button-paragrafo-artigo-contato-index">
                                Entre em contato
                            </a>
                        </div>
                    </div>
                </article>
            </section>
        </section>

        
        <!--
        <section class="section-noticias">
            
            <div class="noticias">
                <div class="noticia">
                    <a href="#" class="noticias-a">
                        <div class="noticia-titulo-posicionamento">
                            <h1 class="noticia-titulos">Notícia 1</h1>
                        </div>
                    </a>
                </div>
                <div class="noticia">
                    <a href="#" class="noticias-a">
                        <div class="noticia-titulo-posicionamento">
                            <h1 class="noticia-titulos">Notícia 2</h1>
                        </div>
                    </a>
                </div>
                <div class="noticia">
                    <a href="#" class="noticias-a">
                        <div class="noticia-titulo-posicionamento">
                            <h1 class="noticia-titulos">Notícia 3</h1>
                        </div>
                    </a>
                </div>
            </div>

            <div class="linhas"></div>
            <div class="linhas"></div>
            <div class="linhas"></div>
        </section>
        -->

        
    </main>

    


        <%- include('partials/footer') %>
    
    <script src="/js/sidebar.js"></script>

    <script src="/js/carrossel.js"></script>
</body>
</html>