<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/servicos.css">
    <link rel="shortcut icon" href="/images/SAA_logo_editada.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/botoes-voltar-e-avancar.css">
</head>
<body>
    <header class="header-index">
        <%- include('partials/navbar') %>
    </header>
    
    <!-- BOTÃO -->
    <button id="menuBtn" class="hamburger" onclick="sidebarHamburguer">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <h2>Início</h2>
        <ul>
            <li><a href="#nossos-servicos">Nossos Serviços</a></li>
            <li><a href="#servicos">Os serviços</a></li>
        </ul>
        <h2>Links Externos</h2>
        <ul>
            <li><a href="/acessibilidade">Acessibilidade</a></li>
        </ul>
    </div>

    <main>
        <section>
            <article id="nossos-servicos" class="service">
                <div class="service-description">
                    <h1 class="title-service">Nossos Serviços</h1>

                    <hr>

                    <p class="phrase-service">
                        O Sistema de Apoio e Acessibilidade (S.A.A.) foi desenvolvido para oferecer soluções práticas que auxiliam na promoção da inclusão e na melhoria da acessibilidade urbana. A plataforma reúne funcionalidades que permitem aos usuários acessar informações relevantes, contribuir com a comunidade e participar ativamente da construção de ambientes mais acessíveis. Por meio de recursos simples e eficientes, o sistema busca facilitar o dia a dia das pessoas, promovendo autonomia, segurança e participação social. A seguir, conheça os principais serviços oferecidos pela plataforma:
                    </p>
                </div>
            </article>
        </section>

        <section id="servicos" class="secao">
            <div class="cards">
                <a href="/inclusao" class="card">
                    <div class="card-body">
                        <h2>📝 Cadastrar inclusão</h2>
                        <p>Adicione informações sobre locais acessíveis, contribuindo com a comunidade.</p>
                        <span class="meta">Clique aqui para cadastrar</span>
                    </div>
                </a>
                
                <!-- <a href="/vvv" class="card">
                    <div class="card-body">
                        <h2>🔎 Busca de locais acessíveis</h2>
                        <p>Encontre estabelecimentos com recursos de acessibilidade próximos a você.</p>
                        <span class="meta">Clique aqui para buscar</span>
                    </div>
                </a> -->

                <a href="/listagem-inclusoes" class="card">
                    <div class="card-body">
                        <h2>Listar lugares inclusivos</h2>
                        <p>Encontre estabelecimentos com recursos de acessibilidade próximos a você.</p>
                        <span class="meta">Clique aqui para listar</span>
                    </div>
                </a>
                
                <a href="/notificacao" class="card">
                    <div class="card-body">
                        <h2>⚠️ Cadastrar notificação</h2>
                        <p>Reporte problemas relacionados à acessibilidade urbana de forma simples e rápida.</p>
                        <span class="meta">Clique aqui para notificar</span>
                    </div>
                </a>
                
                <!-- <a href="/vvv" class="card">
                    <div class="card-body">
                        <h2>📊 Relatórios e dados</h2>
                        <p>Acompanhe informações e estatísticas sobre acessibilidade, auxiliando na tomada de decisões.</p>
                        <span class="meta">Clique aqui para acompanhar</span>
                    </div>
                </a> -->

                <a href="/listagem-notificacoes" class="card">
                    <div class="card-body">
                        <h2>Listar lugares notificados</h2>
                        <p>Acompanhe informações e estatísticas sobre acessibilidade, auxiliando na tomada de decisões.</p>
                        <span class="meta">Clique aqui para acompanhar</span>
                    </div>
                </a>
            </div>
        </section>

    </main>
    
    <div class="nav-botoes">
        <button class="botao-voltar" onclick="voltarPaginaServicos()" aria-label="Botão Voltar">⬅ Voltar</button>
        <button class="botao-avancar" onclick="avancarPaginaServicos()" aria-label="Botão Avançar">Avançar ➡</button>
    </div>
    
    <script src="js/botoes-voltar-e-avancar.js"></script>

    <script src="js/sidebar.js"></script>

    <%- include('partials/footer') %>

</body>
</html>