<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Apoio e Acessibilidade</title>
    <link rel="shortcut icon" href="/images/SAA_logo_editada.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body-index">

    <header class="header-index">
        
        <%- include('partials/navbar') %>

    </header>
    
    <!-- BOTÃO -->
    <button id="menuBtn" class="hamburger" onclick="sidebarHamburguer">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <!-- SIDEBAR -->
    <div id="sidebar" class="sidebar">
        <h2>Início</h2>
        <ul>
            <li><a href="/">Resumo</a></li>
            <li><a href="#">Conteúdo destacado</a></li>
            <li><a href="#">Tipos de Problemas</a></li>
            <li><a href="#">Auditivo</a></li>
            <li><a href="#">fisico-motora</a></li>
            <li><a href="#">mais-de-60-anos</a></li>
            <li><a href="#">Portais</a></li>
        </ul>
        <h2>Colaboração</h2>
        <ul>
            <li><a href="#">Boas-vindas</a></li>
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Portal comunitário</a></li>
            <li><a href="#">Mudanças recentes</a></li>
        </ul>
    </div>

    <main class="layout">
        <section class="main-index">
            <article>
                <div class="artigo-index">
                    <h1 class="titulo-artigo-index">Sobre o S.A.A.</h1>
                    <br>
                    <hr>
                    <p class="paragrafo-artigo-index">
                        O Sistema de Apoio e Acessibilidade (S.A.A.) nasceu da percepção 
                        de que pessoas com deficiência, mobilidade reduzida e idosos ainda 
                        enfrentam barreiras diárias — não apenas físicas, mas também 
                        informacionais. 
                        <br>
                        <br>
                        A ausência de 
                        dados centralizados sobre rampas, elevadores, banheiros adaptados 
                        e sinalização adequada compromete a autonomia de quem mais precisa 
                        de apoio. Desenvolvido por estudantes de Sistemas de Informação do 
                        Centro Universitário Cesmac, o projeto combina tecnologia e 
                        compromisso social para criar uma solução real a um problema real. 
                        
                        <br>
                        <br>
                        A plataforma centraliza informações sobre acessibilidade em 
                        diversos estabelecimentos, permitindo que os usuários consultem 
                        dados importantes como presença de rampas, elevadores, banheiros 
                        adaptados e sinalização adequada.
                        <br>
                        <br>
                        Além disso, o sistema permite o registro de denúncias, 
                        contribuindo para a fiscalização e melhoria dos espaços 
                        urbanos.
                        <br>
                        <br>
                        Nosso compromisso é utilizar a tecnologia como ferramenta de 
                        inclusão social, promovendo autonomia, segurança e cidadania 
                        para todos.
                        <br>
                        
                    </p>
                    
                </div>
            </article>

            <div class="noticias">
                <div class="noticia">
                    <a href="#" class="noticias-a">
                        <div class="noticia-titulo-posicionamento">
                            <h1 class="noticia-titulos">Notícia 1</h1>
                        </div>
                    </a>
                </div>
                <div class="noticia">
                    <a href="#" class="noticias-a">
                        <div class="noticia-titulo-posicionamento">
                            <h1 class="noticia-titulos">Notícia 2</h1>
                        </div>
                    </a>
                </div>
                <div class="noticia">
                    <a href="#" class="noticias-a">
                        <div class="noticia-titulo-posicionamento">
                            <h1 class="noticia-titulos">Notícia 3</h1>
                        </div>
                    </a>
                </div>
            </div>

            <div class="linhas"></div>
            <div class="linhas"></div>
            <div class="linhas"></div>

        </section>

    </main>

    <%- include('partials/footer') %>
    
    <script src="/js/sidebar.js"></script>

    <script src="/js/carrossel.js"></script>
</body>
</html>