
/* Botão voltar e avançar lado a lado */
.nav-botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

/* Botão voltar */
.botao-voltar {
    background-color: #574fd6;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;

    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.botao-voltar:hover {
    background: #574fd6;
    transform: translateY(-2px);
}
.botao-voltar:focus {
    background-color: #574fd6;
    outline: 3px solid blue;
}

/* Botão avançar */
.botao-avancar {
    background-color: #016b52;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;

    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.botao-avancar:hover {
    background: #019875;
    transform: translateY(-2px);
}
.botao-avancar:focus {
    background-color: #019875;
    outline: 3px solid green;
}